---
title: 2-step verification
excerpt: ''
deprecated: false
hidden: true
metadata:
  title: ''
  description: ''
  robots: noindex
next:
  description: ''
---
* In Abivin vRoute, users can opt-in to use 2-step verification. This is a security feature employed by many websites nowadays to prevent cyber-attacks
* Clients who wish to use this feature can enable that by following the below instruction:

## Activate 2-step verification feature

* Login to the top administrator account
* Navigate to **Organization > Organization List** tab
* Click **Edit** :fa-pencil **on the**Manufacturer\*\* organization (The top organization)
* Scroll down the **Organization Information** form, tick on the check box :fa-square: that reads **2-step verification**, then click **Update** to confirm the change
* The 2-step verification feature is now enabled for all users

## Setup 2-step verification feature

* An email with detailed instruction will be sent to the email address of every users.
* Install Google Authenticator app ([**Android version**](https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2\&hl=en) or [**iOS version**](https://apps.apple.com/vn/app/google-authenticator/id388497605) based on your device)

> ❗️ Please do not disclose the email content to anyone else
